* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}


html{
    scroll-behavior:smooth;
}

.main {


    position: relative;
    z-index: -9;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.841), rgba(0, 0, 0, 0.715)), url('istockphoto-1128413234-612x612.jpg');
    background-repeat: no-repeat;
    object-fit: fill;


    background-position: center;



}

.main-2 {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;

    width: 100vw;
    justify-content: space-evenly;
    background-color: rgb(3, 3, 3);
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 60px;
}

.main-2 h3 {
    font-style: oblique;
    font-weight: 900;
    font-size: 1.8rem;
    font-style: italic;

    color: rgba(255, 255, 255, 0.989);
}

.main-2 nav {
    margin-right: 40px;
}

.main-2 nav ul li {
    display: inline-block;
    padding: 15px;
}

.main-2 nav ul li:hover {
    border-bottom: 2px solid red;
}

.main-2 nav ul li a {
    color: white;
    font-weight: 800;
}

.ham {
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;

}

.ham::after {
    content: '';
    top: 5px;
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 4px;
    transition: 0.5s;
    display: block;
    background-color: white;
}

.ham::before {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 7px;
    left: 0;
    border-radius: 10px;
    height: 4px;
    transition: 0.5s;
    display: block;
    background-color: white;
}

.ham .li {
    display: block;
    width: 100%;
    background-color: white;
    height: 4px;
    position: absolute;
    top: 5px;
    transition: 0.5s;
    border-radius: 10px;
    margin-top: 10px;
}

.ham .li.is-active {
    opacity: 0;
}

.ham.is-active::after {
    transform: rotate(-45deg) translate(-8px, 7px)
}

.ham.is-active::before {
    transform: rotate(45deg) translate(-6px, -6px)
}

.main .information {
    width: 100%;
    display: flex;
    height: 100vh;


}

.main .information .content {
    margin-left: 230px;
    margin-top: 100px;
}

.main .information .content h4 {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 1.4rem;
    color: #eb2f06;
}

.main .information .content .name {
    color: white;
    font-style: oblique;

    font-weight: bolder;
    font-size: 2.5rem;
}

.main .information .content .name h1 {
    margin-bottom: 20px;
}

.main .information .content .dev h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-style: oblique;
}
.main .information .content .dev #btn:hover {
    border: 2px solid red;
    transition: 0.5s;
    transform: translateY(-10px);

    background: none;
}

.main .information .content .dev button{
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 15px;

    width: 120px;
    border-radius: 5px;
    color: white;
    background-color: red;



}



#about_me {
    width: 100vw;
    min-height: 100vh;

    background-color: #030116;
}

#about_me .about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 0 15px;


}

#about_me .about .img img {
    width: 400px;
    border-radius: 10px;

}

#about_me .about .about-2 {
    margin-left: 30px;
}

#about_me .about .about-2 h2 {
    color: white;
    margin-bottom: 15px;

    font-size: 1.9rem;
}

#about_me .about .about-2 h4 {
    margin-bottom: 15px;
    color: darkorange;
    font-style: oblique;
    font-weight: 1.9rem;
}

#about_me .about .about-2 div {

    width: 100%;
    color: white;
    line-height: 24px;
    font-style: italic;
    font-weight: 600;
}

#about_me .about .about-2 div span {
    color: greenyellow;
}

#about_me .about .about-2 ol li {
    font-style: oblique;
    font-size: 1.4rem;
}

#about_me .about .about-2 .btn button {
    border: none;
    outline: none;
    padding: 7px;
    width: 120px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: red;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

#about_me .about .about-2 .btn button:hover {
    border: 2px solid red;
    transition: 0.5s;
    transform: translateY(8px);

    background: none;
}

#service {

   
    background-color: #030116;
    width: 100vw;
    height: 100vh;

}

#service .ser {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
  
}

#service .ser h1 {
    margin-top: 30px;
    font-size: 2.5rem;
}

#service .ser h4 {
    margin-top: 15px;
    color: #e84118;
    font-style: oblique;
}

#service .w {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

#service .desktop {
    background-color: #3416db;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 350px;

    width: 350px;
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.5s;

}

#service .desktop:nth-child(1) {
    margin-left: 30px;
}

#service .desktop:nth-child(3) {
    margin-right: 30px;
}

#service .desktop:hover {
    transform: translateY(-15px);
    transition: 0.5s;
    border: 2px hotpink solid;
    background-color: #e84118;
    color: white;
}

#service .desktop .img {
    margin-top: 10px;
}

#service .desktop .head {
    text-align: center;
    
    
    margin-bottom: 10px;
}
#service .desktop .head h2{
    font-style: oblique;
}

#service .desktop .p {
 
   padding: 0 20px;
    margin-bottom: 45px;
}

#service .desktop .p p {
    text-align: justify;
    font-style: italic;
    font-weight: 700;
}
#service .desktop .img{
    width: 300px;
    border-radius: 4px;
}
#service .desktop .img img{
    width: 100%;
    object-fit: cover;
}
/* portfolio */
#portfolio{
    background-color: #030116;
    width: 100vw;
    height: 100vh;
}
#portfolio  .features{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
}
#portfolio .features .heading{
    text-align: center;
    color: rgb(255, 64, 5);
    padding: 10px;
    font-style: oblique;
    margin: 15px;
   
}
#portfolio .features .heading h1{
    font-size: 2.6rem;
    color: white;
    margin-bottom: 15px;
}
#portfolio .features .heading h1:hover{
    text-decoration: line-through;
    color: #e84118;
    transition: 0.5s;
}
#portfolio .features .heading h2{
    text-decoration: line-through;
}
 .features  .img{
  padding: 20px;  
    
} 
#portfolio .features  .img img{
    width: 400px;
    border-radius: 4px;
} 
#portfolio .features .main-1{
    display: flex;
    justify-content: space-between;
}
.features .main-con{
    display: grid;
    padding: 0px 20px;
    margin-top: 10px;
    gap: 9px;
    grid-template-columns: repeat(3,1fr);
}
#portfolio .features .main-con .col{
    background-color:rgb(255, 91, 10);
    
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    text-indent: 20px;
}
#portfolio .features .main-con .col:hover {
border: 2px solid rgb(255, 255, 255);
color: rgb(21, 0, 255);
}

#contact {
    width: 100vw;
    height: 100vh;
    background-color: #030116;
   
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

#contact .p h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.7rem;
}

#contact h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #e84118;
}

#contact p,
.add,
.logo {

    width: 500px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    text-transform: capitalize;
}

#contact #form .form-group input{
    padding: 10px;
    width: 450px;
   border: brown solid 1px;
color: white;
   background: none;
   outline: none;
   
    
    border-radius: 5px;
}
#contact #form .form-group input:focus, #contact #form .form-group textarea:focus{
border: 2px solid rgb(255, 89, 0);
}
#contact #form .form-group{
    margin: 10px 0px;
}
#contact #form .form-group input::placeholder{
    color: #dcd9ee;
}
#contact #form .form-group input,   #contact #form .form-group textarea{
    padding: 10px;
   background: none;
   border: brown solid 1px;
   color: white;
    outline: none;
    border-radius: 5px;
}
#contact #form .form-group textarea{
    resize: none;
   
}
#contact #form .form-group input::placeholder,  #contact #form .form-group textarea::placeholder{
    color:white;
}
#contact #form .form-group textarea::placeholder{
    font-weight: 800;
}
#contact #form button{
    padding:5px;
    border-radius: 3px ;
    border: none;
    outline: none;
    width: 120px;
    cursor: pointer;
    background-color: #e84118;

}
#contact #footer{
    position: absolute;
    bottom: 0px;
}
#contact #footer span{
    font-style: oblique;
    color: #e84118;
}

@media (max-width:900px) {

    .main-2 .ham {
        display: block;
    }

    .main-2 nav {
        position: absolute;

        top: -400px;
        left: 0;
        right: 0;
        background-color: rgba(4, 4, 4, 0.949);
        border-top: black solid 2px;
        width: 100vw;

        height: 260px;
        height: 400px;
        transition: 0.5s;
    }

    .main-2 nav.active {
        top: 60px;
        transition: 0.5s;
    }

    .main-2 nav ul li {
        display: block;
        padding: 30px;
        text-align: center;
    }

    /* .main .main-2 nav ul li:hover{
        background-color: white;
    } */
    .main-2 nav ul li:hover {
        border-bottom: 2px solid red;

        color: white;
    }

    .main-2 nav ul li {
        border-bottom: none;
    }

    .main .information .content {
        margin-left: 50px;
        margin-top: 100px;
    }

    .main .information .content h4 {
        margin-bottom: 20px;
        font-style: italic;
        font-size: 1.9rem;
        color: rgb(249, 89, 9);
    }

    .main .information .content .name {
        color: white;
        font-style: oblique;

        font-weight: bolder;
        font-size: 1.3rem;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;

    }

    #about_me .about .about-2 h2 {
        color: white;
        text-align: center;
        margin-top: 10px;
        font-size: 1.9rem;
    }

    #about_me .about .about-2 h4 {
        margin-bottom: 15px;
        color: rgb(255, 0, 0);
        text-align: center;
        font-style: oblique;
        font-weight: 1.9rem;
    }

    #about_me .about .about-2 div {

        width: 100%;
    }

    #about_me .about .img img {
        width: 300px;
        margin-top: 20px;
    }

    /* #about_me .about  .about-2 ol .ol{
         display:flex ;
        justify-content: space-evenly;
    }  */
    #portfolio .features .main-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #service {
        height: 180vh;
    }

    #service .w {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #service .desktop:nth-child(1) {
        margin-left: 0px;
    }

    #service .desktop:nth-child(3) {
        margin-right: 0px;
    }

    #contact {
        width: 100vw;
        height: 100vh;
        background-color: #030116;

        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    #contact p,
    .add {

        width: 100%;
        margin-bottom: 30px;
        text-align: center;
        padding: 5px;
        text-transform: capitalize;
    }

    .add,
    .logo {

        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding: 5px;
        text-transform: capitalize;
    }
    #contact{height: 110vh;}
    #contact #form{
       
      
        flex-direction: column;
        display: flex;
        align-items: center;
        height: 350px;
    }
    #contact #form .form-group{
        margin: 10px 0px;
    }
    #contact #form .form-group input,   #contact #form .form-group textarea{
        padding: 10px;
       background: none;
       border: brown solid 1px;
       color: white;
        outline: none;
        border-radius: 5px;
    }
    #contact #form .form-group input::placeholder,  #contact #form .form-group textarea::placeholder{
        color: #dcd9ee;
    }
    #contact #form .form-group textarea{
        resize: none;
    }
    #contact #form{
        margin-bottom: 120px;
    }
    #contact #footer{
        position: absolute;
        bottom: 10px;
        font-size: 18px;
    }




}